---
import Layout from "@/layouts/Layout.astro";
const user = Astro.locals.user;

console.log('Astro page')
---

<Layout>
	<body class="bg-gray-100 flex flex-col items-center justify-center min-h-screen">
	<h1 class="text-3xl font-bold text-gray-800 mb-2">Hi, {user?.username}!</h1>
	<p class="text-lg text-gray-600 mb-4">Your user ID is {user?.id}.</p>
	<p class="text-lg text-gray-600 mb-4">Your user role is {user?.role}.</p>

	</body>
</Layout>
